/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
    *{
        /* box-sizing: border-box; */
        
    
    }
    .container{
        width: 375px;
        margin:auto;
        background-color: white;
        padding-bottom:20px;
        height:100%;
        /* padding:20px; */
        padding-left:auto;
        pading-right:auto;
    }
body{
        font-size:16px;
        color:hsl(235, 18%, 26%);
        font-family:'Roboto', sans-serif;
        font-weight: 400;
        background-color: hsl(234, 29%, 20%);
        font-weight:bold;
        

       }
   h1{
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color:hsl(234, 29%, 20%);
   }

   button{
    /* margin-top:25px; */
    margin-bottom:20px;
    height:55px;
    width:320px;
    font-size:16px; 
    border-radius:10px;
    font-weight:bold;
    background-color:hsl(234, 29%, 20%);
    color:white;
    border-style: none;
    transition: background-color 0.3s ease;
    
   }
   button:hover {
    background-color:hsl(4, 100%, 67%);
   }

   input{
    height:50px;
    width:315px;
    margin-top:10px;
    margin-bottom:30px;
    /* padding:7px; */
    border-radius:10px;
    font-size: 16px;
    border-color:hsl(233, 3%, 48%);
   }
   .main{
    /* margin-right:20px; */
    padding:15px;

   }
   label{
    padding-top:60px;
   }
   img{
    width:fit-content;
   }

   .group{
    width:fit-content;
   }
   ul li {
    line-height: 1.7;
    list-style: none;
   }
ul li{
    list-style-image: url(assets/images/icon-list.svg);
    /* list-style-position: absolute; */
    margin-right:20px;
    

}
ul li::before{
    content:''
    margin-right: 0.5rem;
    left:0;
    top:5px;
    position:absolute;
}
   /*  Thank you message*/
   #thankYou{
    width: 375px;
    margin:auto;
    background-color: white;
    /* padding:20px; */
    /* padding-top:200px; */
   }

   .message{
    /* margin-bottom:250px; */
    font-weight:500;
    line-height:1.5rem;
   }
   .button{
    width:fit-content;
    /* margin-left:auto; */
    margin-right:50%;
   }
   #errorText{
    color:hsl(4, 100%, 67%);
   }
